
/* Apperacne for issue tables */

.issues_table_row .issue_buttongroup {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.issues_table_row:hover .issue_buttongroup,
.issues_table_row.selected .issue_buttongroup {
    opacity: 1;
}



.revenue_unrealized_bar {
    background:
        repeating-linear-gradient(
            45deg,                      /* Diagonal lines */
            #6F36F9,                    /* Start color */
            #6F36F9 0.5rem,             /* End of first stripe */
            rgba(255, 255, 255, 0.2) 0.5rem,  /* Start of next stripe */
            rgba(255, 255, 255, 0.2) 1rem     /* End of next stripe, total width of stripe */
        ),
        #6F36F9;                        /* Solid color layer */
    background-size: 100%;               /* Ensures that the solid layer covers the entire element */
    background-blend-mode: normal;       /* Ensures the layers blend normally */
}



/* Custom CSS for Tooltip **/

       .jqstooltip {
            background: rgba(30, 34, 65, 0.8) !important; /* Tooltip background color with opacity */
            color: #FFFFFF !important; /* Tooltip text color */
            font-size: 0.5rem; /* Font size */
            padding: 0.25rem; /* Padding around text */
            border-radius: 0.25rem; /* Rounded corners */
            border: none !important; /* Remove any border */
            box-shadow: none !important; /* Remove shadow if any */
            height: 2rem !important;
						min-width: 3rem !important;
  			  	display: flex;


        }
        .jqsfield {font: 1rem !important;}


/* Spinner **/
        .spinner {
          background: conic-gradient(from 0deg, #661CDF, #B194F5, #661CDF);
          animation: spin 1s linear infinite;
        }

        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }

/* progressbar **/


                .progress-track {

                    background: repeating-linear-gradient(
                        45deg,
                        #661CDF,
                        #661CDF 10px,
                        #B194F5 10px,
                        #B194F5 20px
                    );
                    background-size: 200% 200%;
                    animation: moveStripes 5s linear infinite;
                }

                @keyframes moveStripes {
                    0% {
                        background-position: 0% 0%;
                    }
                    100% {
                        background-position: 100% 100%;
                    }
                }


/* Popup Media*/

.main-content video {width: 100%}
.main-content img {width: 100%}


 div.preview-item[data-type="video"] > div.video-icon {display: block;}

/*Issue Template*/
/*#issueTemplate {display:none;}*/
#howToTemplate {display:none;}

.has-selection {display:none;}
